*.sh text eol=lf
*.ps1 text eol=crlf
macos-pwnbox.zsh.example text eol=lf
bin/pwnbox text eol=lf
setup/pwnbox-kali-control text eol=lf
*.conf.example text eol=lf
*.md text eol=lf
*.py text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
